.adm-capsule-tabs-tab{
    padding: 4px 12px;
    border-radius: 16px;
    font-weight: 400;
font-size: 14px;
line-height: 22px;
color: #747474; 
background: rgba(68, 68, 68, 0.1);
}


.adm-capsule-tabs-tab-active {
    color: #ffffff;
    background: #FF00C7;
    font-weight: 700;
}

.adm-capsule-tabs-header{
  border-bottom: none;  
}